/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background: #f5f6fa;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #2c3e50;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #ecf0f1;
}

.sidebar hr {
    border: 0;
    height: 1px;
    background: #7f8c8d;
    margin: 10px 0;
}
/* Menu */
.sidebar ul {
    text-align: left;
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    transition: background 0.3s;
    cursor: pointer;   /* biar muncul tangan */
    user-select: none; /* tidak bisa blok tulisan */
}


.sidebar ul li:hover {
    background: #34495e;
}

/* Content area */
.main-content {
    margin-left: 220px; /* sesuai lebar sidebar */
    padding: 5px 10px 0;
    flex: 1;
}

.sidebar ul li a span {
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 2px 6px;
    font-size: 12px;
}
