
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    position: relative;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh; /* Full tinggi layar */
}

/* Kotak form */
.form-container {
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    margin: 0;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
}

/* Judul */
.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Input */
.form-container input {
    width: 100%;
    padding: 12px;
    margin:  0;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

.form-container input:focus {
    border-color: #007bff;
}

/* Tombol */
.form-container button {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
}

.form-container button:hover {
    background: #0056b3;
}

/* Link bawah */
.form-container p {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.form-container a:hover {
    text-decoration: underline;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #66676a;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.back-btn:hover {
    background: #ddd;
    }
    